// reset
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

// 提示使用者的訊息
.feedback {
  color: red;
}

// 在列表上方的工具組
.operationGroup {
  display: flex;
  justify-content: space-between;
}

// 裝按鈕們的容器，通常在頁尾
.button-container {
  text-align: center;
  padding: 20px 0;
}

// 可以點擊的東西
.clickable {
  cursor: pointer;
  color: #409EFF;
}

.small {
  padding-left: 0.2em;
  font-size: 0.8em;
  font-weight: normal;
}

// 自訂佈局
.layout {
  &-navbar {
    display: flex;
    &-title {
      flex: 1;
      display: flex;
      align-items: center;
    }
    &-menu {
      flex: 8;
      list-style-type: none;
      display: flex;
      padding-left: 0;
      li {
        margin: 20px;
        a {
          text-decoration: none;
        }
      }
      &-forUser {
        flex: 4;
        display: flex;
      }
      &-forAdmin {
        flex: 4;
        display: flex;
      }
    }
  }
}

.el-input--suffix.el-input,
.el-input-number,
.el-input,
.el-select {
  width: 100%;
}
